body {
    /* background-color: #07151e; */
    background-color: lightblue;
  }

  /* .t {
    position: absolute;
    top: 0;
    right: 0;
  } */
  
  .frame {
    position: absolute;
    right: 10%;
    margin: 0 auto;
    margin-top: 20vh;
    width: 500px;
    height: 500px;
    border-width: 5px;
    border-color: #fff;
    border-style: solid;
    background-color: royalblue;
  }
  
  .shadow {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    width: 700px;
    height: 700px;
    opacity: 0.08;
    background-color: #fff;
    /* background-color: rgb(8, 21, 30); */
  }
  
  .axo-tail-2 {
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 250px 50px 0 50px;
    border-color: #ffaeae transparent transparent transparent;
    
    animation: tail-2 15s ease-in-out .2s infinite normal;
  }
  
  .axo-tail-1 {
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 20px 0 20px;
    border-color: #ffbebe transparent transparent transparent;
    
    animation: tail-1 15s ease-in-out .2s infinite normal;
  }
  
  .axo-butt {
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    width: 180px;
    height: 120px;
    border-radius: 40px 40px 200px 200px;
    background-color: #ff9e9e; 
    
    animation: butt 5s ease-in-out .2s infinite normal;
  }
  
  .axo-guts {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    width: 150px;
    height: 100px;
    border-radius: 40px 40px 60px 60px;
    background-color: #ff8e8e;   
    
    animation: guts 5s ease-in-out .2s infinite normal;
  }
  
  .axo-body {
    position: absolute;
    top: 51%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    width: 195px;
    height: 120px;
    border-radius: 80px 80px 70px 70px;
    background-color: #ff7e7e; 
    
    animation: bod 5s ease-in-out .2s infinite normal;
  }
  
  .front-leg-1 {
    position: absolute;
    top: 61%;
    left: 68%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    height: 75px; 
    width: 40px; 
    border-radius: 10px 30px;
    background-color: #ffaeae;
    
    animation: front-leg 5s ease-in-out .2s infinite normal;
  }
  
  .front-leg-2 {
    position: absolute;
    top: 61%;
    left: 32%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    height: 75px; 
    width: 40px; 
    border-radius: 30px 10px;
    background-color: #ffaeae;
    
    animation: front-leg 5s ease-in-out .2s infinite normal;
  }
  
  .back-leg-1 {
    position: absolute;
    top: 75%;
    left: 62%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    height: 50px;
    width: 30px;
    border-radius: 30px 10px;
    background-color: #ffbebe;
    
    animation: back-leg 5s ease-in-out .2s  infinite normal;
  }
  
  .back-leg-2 {
    position: absolute;
    top: 75%;
    left: 38%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    height: 50px;
    width: 30px;
    border-radius: 10px 30px;
    background-color: #ffbebe;
    
    animation: back-leg 5s  ease-in-out .2s infinite normal;
  }
  
  .axo-head {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    height: 125px; 
    width: 175px; 
    border-radius: 70px;
    background-color: #ff9e9e;
    
    animation: head 5s  ease-in-out .2s infinite normal;
  }
  
  .axo-mouth {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    height: 5px; 
    width: 40px; 
    border-radius: 50px;
    background-color: #cc2e2e;
    
    animation: mouth 15s  ease-in-out .2s infinite normal;
  }
  
  .axo-nose {
    position: absolute;
    top: 42%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    height: 25px; 
    width: 140px; 
    border-radius: 50px;
    background-color: #ff9999;
    
    animation: nose 15s ease-in-out .2s infinite normal;
  }
  
  .axo-eye-1 {
    position: absolute;
    top: 42%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    height: 15px; 
    width: 10px; 
    border-radius: 5px;
    background-color: #ff5e5e;
    
    animation: eyes 15s ease-in-out .2s infinite normal;
  }
  .axo-eye-2 {
    position: absolute;
    top: 42%;
    left: 40%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    height: 15px; 
    width: 10px; 
    border-radius: 5px;
    background-color: #ff5e5e;
    
    animation: eyes 15s ease-in-out .2s infinite normal;
  }
  .axo-eye-1-1 {
    position: absolute;
    top: 42%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    height: 10px; 
    width: 6px; 
    border-radius: 5px;
    background-color: #421e1e;
    
    animation: eyes 15s ease-in-out .2s infinite normal;
  }
  .axo-eye-2-1 {
    position: absolute;
    top: 42%;
    left: 40%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    height: 10px; 
    width: 6px; 
    border-radius: 5px;
    background-color: #421e1e;
    
    animation: eyes 15s ease-in-out .2s infinite normal;
  }
  .axo-eye-1-2 {
    position: absolute;
    top: 41%;
    left: 61%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    height: 3px; 
    width: 3px; 
    border-radius: 50px;
    background-color: #ffefef;
    
    animation: eyes 15s ease-in-out .2s infinite normal;
  }
  .axo-eye-2-2 {
    position: absolute;
    top: 41%;
    left: 41%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    height: 3px; 
    width: 3px; 
    border-radius: 50px;
    background-color: #ffefef;
    
     animation: eyes 15s ease-in-out .2s infinite normal;
  }
  
  
  /*fins*/
  .fins .fin-1 {
    position: absolute;
    
    height: 25px; 
    width: 75px; 
    border-radius: 70px 10px;
    background-color: #ff5e5e;
    
    top: 35%;
    left: 70%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  /*   transform: skewY(-20deg); */
    
     animation: fin-anim-top 15s, fin-anim-left 15s ease-in-out .2s infinite normal;
  }
  .fins .fin-2 {
    position: absolute;
    
    height: 25px; 
    width: 75px; 
    border-radius: 70px 10px;
    background-color: #ff5e5e;
    
    top: 41%;
    left: 70%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
     animation: fin-anim-middle 15s, fin-anim-left 15s ease-in-out .2s infinite normal;
  }
  .fins .fin-3 {
    position: absolute;
    
    height: 25px; 
    width: 75px; 
    border-radius: 70px 10px;
    background-color: #ff5e5e;
    
    top: 47%;
    left: 66%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    animation: fin-anim-bottom 15s, fin-anim-left 15s ease-in-out .2s infinite normal;
  }
  .fins .fin-4 {
    position: absolute;
    
    height: 25px; 
    width: 75px; 
    border-radius: 10px 70px;
    background-color: #ff5e5e;
    
    top: 35%;
    left: 30%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
     animation: fin-anim-top 15s, fin-anim-right 15s ease-in-out .2s infinite normal;
  }
  .fins .fin-5 {
    position: absolute;
    
    height: 25px; 
    width: 75px; 
    border-radius: 10px 70px;
    background-color: #ff5e5e;
    
    top: 41%;
    left: 30%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
     animation: fin-anim-middle 15s, fin-anim-right 15s ease-in-out .2s infinite normal;
  }
  .fins .fin-6 {
    position: absolute;
    
    height: 25px; 
    width: 75px; 
    border-radius: 10px 70px;
    background-color: #ff5e5e;
    
    top: 47%;
    left: 34%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    animation: fin-anim-bottom 15s, fin-anim-right 15s ease-in-out .2s infinite normal;
  }
  
  /* animations */
  @keyframes fin-anim-right{
    25% {
       transform: skewY(10deg) translate(-55%, -100%);
    }
    50% {
       transform: skewY(0deg) translate(-55%, -50%);
    }
    75% {
       transform: skewY(10deg) translate(-55%, -100%);
    }
    90% {
       transform: skewY(10deg) translate(-55%, -100%);
    }
  }
  
  @keyframes fin-anim-left{
    25% {
       transform: skewY(-10deg) translate(-50%, -150%);
    }
    50% {
       transform: skewY(0deg) translate(-50%, -50%);
    }
    75% {
       transform: skewY(-10deg) translate(-50%, -150%);
    }
    90% {
       transform: skewY(-10deg) translate(-50%, -150%);
    }
  }
  
  @keyframes fin-anim-top {
    50% {
      top: 34.5%;
    }
    75% {
      top: 35%;
    }
    90% {
      top: 34.5%;
    }
  }
  @keyframes fin-anim-middle {
    50% {
      top: 40.2%;
    }
    75% {
      top: 41%;
    }
    90% {
      top: 40.2%;
    }
  }
  @keyframes fin-anim-bottom {
    50% {
      top: 46%;
    }
    75% {
      top: 47%;
    }
    90% {
      top: 46%;
    }
  }
  
  @keyframes head {
     50% {
      top: 39.5%;
    }
    75% {
      top: 40%;
    }
    90% {
      top: 39.5%;
    }
  }
  
  @keyframes mouth {
     50% {
      top: 47%;
      width: 40px;
      height: 5px;
    }
    75% {
      top: 50%;
      width: 20px;
      height: 10px;
    }
    90% {
      top: 48.5%;
    }
  }
  
  @keyframes eyes {
     50% {
      top: 39%;
    }
    75% {
      top: 42%;
    }
    90% {
      top: 40.5%;
    }
  }
  
  @keyframes tail-1 {
    0% {
      border-width: 190px 0px 0 20px;
    }
    15% {
      border-width: 190px 20px 0 0px;
    }
    50% {
      border-width: 190px 0px 0 20px;
    }
    75% {
      border-width: 190px 20px 0 0px;
    }
    90% {
      border-width: 190px 0px 0 20px;
    }
    100% {
      border-width: 190px 0px 0 20px;
    }
  }
  @keyframes tail-2 {
    0% {
      border-width: 250px 20px 0 50px;
    }
    15% {
      border-width: 250px 50px 0 20px;
    }
    50% {
      border-width: 250px 20px 0 50px;
    }
    75% {
      border-width: 250px 50px 0 20px;
    }
    90% {
      border-width: 250px 20px 0 50px;
    }
    100% {
      border-width: 250px 20px 0 50px;
    }
  }
  
  @keyframes bod {
    50% {
      top: 49%;
    }
    75% {
      top: 50.5%;
    }
    85% {
      top: 50%;
    }
  }
  @keyframes guts {
    50% {
    top: 58%;
    }
    75% {
      top: 59.5%;
    }
    87% {
      top: 59%;
    }
  }
  @keyframes butt {
    50% {
      top: 64%;
    }
    75% {
      top: 65%;
    }
    90% {
      top: 64%;
    }
  }
  
  @keyframes front-leg{
    50% {
      top: 58%;
    }
    75% {
      top: 60%;
    }
    89% {
      top: 59%;
    }
  }
  
  @keyframes back-leg{
    50% {
      top: 74%;
    }
    75% {
      top: 75%;
    }
    89% {
      top: 74%;
    }
  }
  
  @keyframes nose{
    50% {
      top: 39%;
    }
    75% {
      top: 42%;
    }
    89% {
      top: 40.5%;
    }
  }